asgiref==3.11.1
blinker==1.9.0
bottle==0.13.4
bottle-websocket==0.2.9
cffi==2.0.0
click==8.3.1
colorama==0.4.6
Django==5.2.7
Eel==0.18.2
Flask==3.1.2
future==1.0.0
gevent==25.9.1
gevent-websocket==0.10.1
greenlet==3.3.1
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
pycparser==3.0
pyparsing==3.3.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.2
Werkzeug==3.1.5
zope.event==6.1
zope.interface==8.2
